/* Import the font */
@font-face {
  font-family: "Poppins";
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Poppins";
  src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url('/assets/fonts/Poppins-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url('/assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

:root {
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
  --purple: hsl(259, 100%, 65%);
}

/* Set up a CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set up the page */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--off-white);
  font-size: 1.6em;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  width: 100%;
  color: #aaa;
  text-decoration: none;
  transition: color 0.3s ease;
}

.error-message {
  visibility: hidden;
  color: red;
  margin-top: 0.5rem;
  font-size: 0.85rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #fff;
  width: 375px;
  height: 500px;
  border-radius: 24px;
  border-bottom-right-radius: 100px;
}

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
}

.inputs-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 0 1.2rem;
  margin: 0 auto;
  position: relative;
}

.input-container label {
  color: var(--smokey-grey);
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.input-container input {
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding: 0.8rem 1rem;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 8px;
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
  }

.input-container input:focus {
  border: 1px solid var(--purple);
  box-shadow: 0 0 5px var(--purple);
}

.divider-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}

button:active {
  transform: scale(0.95);
  background-color: var(--off-black);
}

.divider {
  appearance: none;
  position: relative;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple);
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.divider img {
  width: 40%;
}

.line {
  content: "";
  position: absolute;
  width: 80%;
  top: 50%;
  border-top: 1px solid var(--light-grey);
}

.age-container {
  line-height: 1.2;
  height: 100%;
}

.age {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 50px;
  padding-left: 24px;
}

.age__number {
  color: var(--purple);
}

@media (min-width: 768px) {
  .container {
    width: 840px;
    height: 650px;
    grid-template-rows: 1fr 2fr;
  }

  .inputs-container {
    margin: 4rem auto auto 4rem;
    grid-template-columns: 1fr 1fr 1fr 2fr;
  }

  .input-container label {
    font-size: 1.4rem;
  }

  .input-container input {
    font-size: 32px;
    padding: 1.2rem 1.4rem;
  }

  .divider {
    width: 100px;
    height: 100px;
    left: 40%;
  }

  .age {
    font-size: 80px;
    padding-left: 40px;
  }

  
}