/* Import the font */
@font-face {
  font-family: "Poppins";
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Poppins";
  src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url('/assets/fonts/Poppins-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url('/assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

:root {
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
  --purple: hsl(259, 100%, 65%);
}


/* Set up a CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set up the page */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #817e7e;
  font-size: 1.6em;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  width: 100%;
  color: #aaa;
  text-decoration: none;
  transition: color 0.3s ease;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  background-color: #fff;
  width: 375px;
  height: 500px;
  border-radius: 24px;
  border-bottom-right-radius: 100px;
}

.form-container {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.form-container .input-container {
  display: flex;
  flex-direction: column;
  padding: 0 1.2rem;
  margin: 4rem auto;
}

.form-container .input-container label {
  color: var(--smokey-grey);
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.form-container .input-container input {
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding: 0.8rem 1rem;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 8px;
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
  }

.form-container .input-container input:focus {
  border: 1px solid var(--purple);
  box-shadow: 0 0 5px var(--purple);
}

.divider-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;;
}

.divider {
  position: relative;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple);
  width: 60px;
  height:60px;
  border-radius: 50%;
}

.divider img {
  width: 40%;
}

.line {
  content: "";
  position: absolute;
  width: 80%;
  top: 50%;
  border-top: 1px solid var(--light-grey);
}

.age-container {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.age {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 50px;
  padding-left: 24px;
}

.age__number {
  color: var(--purple);
}